@import url(//db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold);
@font-face {
    font-family: "FF Mark W05";
    src: url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Medium.662fbc7901e31d6bee9c91d5f2cf42a1.woff2) format("woff2"), url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Medium.ef7af500d9837d3d390db15c32e93167.woff) format("woff"), url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Medium.e857052c6a4c940090ac8470ecdaf9be.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

:root {
    --p-font: 'BeaufortforLOL-Bold';
    --body-font: 'FF Mark W05',
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

body {
    color: black;
    background-color: white;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
}

body.toLoad {
    overflow: hidden;
}

.mainContent {
    min-height: 100vh;
    width: 100%;
}

.title {
    font-family: var(--p-font);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: calc(22.24px + 2.25vw);
    line-height: 0.85;
    letter-spacing: 0.03em;
    transform: rotateY(-2deg);
    transition: 0.25s transform ease-in-out;
}

.title.red {
    background-color: red;
    color: white;
    padding: 10px;
}

.title:hover {
    cursor: pointer;
}

.initialized {
    transform: rotateY(0deg);
}

.principal-bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("/img/zed.png");
    background-attachment: fixed;
    background-size: cover;
    perspective: 100px;
    perspective-origin: 50% 100%;
    display: flex;
    align-items: center;
    clip-path: circle(180vh at 50% -0vh);
    transition: 0.5s all ease-in-out;
}

.principal-bg.scrolled {
    clip-path: circle(180vh at 50% -80vh);
}

.slogan {
    margin-left: 50px;
}

.slogan.title {
    user-select: none;
}

.page-content {
    margin: 50px auto;
    width: fit-content;
}

.page-content p {
    width: fit-content;
}

.loreSection {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loreDesc {
    margin-top: 50px;
    width: 50%;
    font-size: 18px;
    letter-spacing: 1.2;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: 'FF Mark W05';
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    width: 200px;
}

.content-holder {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.content {
    flex-grow: 1;
    margin-left: 200px;
}

.profileIcon {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.profileIcon .icon {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #fff;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icon .level {
    z-index: 2;
    bottom: -10px;
    transform: translateX(80%);
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    font-family: 'FF Mark W05';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}

#username {
    margin-top: 10px;
    color: #fff;
    font-weight: 300;
    font-family: 'FF Mark W05';
}

.profile-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
}

.history-container {
    width: 90%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
}

.history-container::-webkit-scrollbar {
    width: 5px
}

.history-container::-webkit-scrollbar-track {
    background: black;
}

.history-container::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.match {
    margin: 1px;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #201c1c;
    font-family: 'FF Mark W05';
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.match .general-stats .champ-icon {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.match .general-stats .champ-icon img {
    width: 100%;
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
}

.match .general-stats {
    display: flex;
    flex-direction: row;
    margin: 5px;
    /* width: 250px; */
}

.match .status-kda {
    margin-left: 20px;
}

.match .status-kda .status {
    font-size: 20px;
    font-weight: bold;
}

.match .status-kda .status.defeat {
    color: #e4434a;
}

.match .status-kda .status.win {
    color: #2fccc9;
}

.match .status-kda {
    font-weight: bold;
    letter-spacing: 1.35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.match .cs {
    display: flex;
    align-items: center;
    width: 70px;
    flex-direction: column;
}

.match .cs img {
    width: 40px;
}

.match .cs {
    margin-left: 50px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.match .gold {
    display: flex;
    align-items: center;
    margin-left: 30px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.match .gold i {
    font-size: 22px;
    margin-right: 5px;
}

.spells {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.spell {
    width: 36.5px;
    height: 36.5px;
    background-color: black;
    border-radius: 5px;
}

.spell img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.modeAndLane {
    display: flex;
    height: 75%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.modeAndLane .gameMode img, .modeAndlane .lane img {
    width: 32px;
}

.modeAndLane .lane, .modeAndLane .gameMode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modeAndLane.aram {
    justify-content: center;
    height: auto;
}

.modeAndLane.aram .lane {
    display: none;
}

.items {
    width: 350px;
    height: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.items .item {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 1px;
    box-sizing: border-box;
    width: 62px;
}

.items .item img {
    width: 100%;
    height: 100%;
}

.date-duration {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}

.date-duration .date {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.winrate {
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title.history {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
}